@charset "UTF-8";

input  {
	height: 50px;
}

button {
	height: 50px;
}

.join-border {
		width: 500px;
		border: 1px solid #ccc;
		padding: 50px;
		margin-top: 100px;
}

.sign-in-border{
		width: 400px;
		border: 1px solid #ccc;
		padding: 50px;
			margin-top: 200px;
}